.home-container {
    display: grid;
    grid-template-columns: 3fr 7fr 3fr;
}

/* Media Controls */

/* @1200px */
.show-at-1200px {
    display: none;
}

@media (max-width: 1200px) {
    .hide-at-1200px {
        display: none;
    }

    .show-at-1200px {
        display: inline-block;
    }

    .home-container {
        grid-template-columns: 0fr 7fr 3fr;
    }

    .sidebar {
        width: 50px;
        overflow-x: hidden;
    }
}

/* @1000px */

@media (max-width: 1000px) {
    .hide-at-1000px {
        display: none;
    }

    .home-container {
        grid-template-columns: 0fr 7fr;
    }
}

@media (max-width: 600px) {
    .tweet-author-responsive {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .main-title {
        font-size: 0.75rem;
    }
}
