.main-title {
    padding: 0.5rem;
    position: sticky;
    top: 0;
    /* background: white; */
    backdrop-filter: blur(100px) brightness(1.4);
    z-index: 10;
    border: 1px solid rgb(241, 241, 241);
}
